body {
    background-color: black;
    font-family: consolas;
    color: aqua;
    font-size: 25pt;
    text-align: center;
}

h1 {
    color: rgb(255, 0, 238);
}

h2 {
    color: yellow;
    font-size: 50pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
    color: red;
    font-size: 50pt;
}
marquee {
    font-size: 100pt;
    color: rgb(0, 255, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50pt;
}